body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.head {
    height: 40px;
}

.icon {
    background-color: #00ccff;
    text-align: center;
    line-height: 40px;
    flex-grow: 1;
    transition: 1s all ease;
}

.icon:hover {
    background-color: #ffffff;
}

.s-input {
    display: none;
}

.active {
    background-color: #ffffff;
}

.search {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    z-index: 0;
}

.bangumi {
    display: none;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.me {
    width: 100%;
    height: 100%;
}